body {
	font-size: 0px;
}	
.boxm {
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.gray {
	background-color: gray;
}
.black {
	background-color: black;
}
.orange {
	background-color: orange;
}
.row {
	text-align: center;
}
.firstl {
	width: 50%;
	height: 200px;
}
.secondl {
	width: 33.33%;
	height: 300px;
}
.box {
	border: 1px solid black;
	display: inline-block;
}